--extra-index-url https://download.pytorch.org/whl/cu128

earthengine-api
requests
rasterio
python-dotenv
matplotlib
tqdm
folium
seaborn
scipy
geotessera
numpy
pyproj
ee
peft
terratorch
streamlit
streamlit-folium
pytest
wandb

torch==2.14.0+cu128
torchvision==0.25.0+cu128
torchaudio==2.14.0+cu128
pytorch-lightning